.back{
    background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../Images/back.jpeg");

}

.left{
    text-align: left;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.co{
    color: rgb(238, 255, 0);
}

*:focus{
    outline: 0 !important;
}

.button{
    outline:none;
}

.common{
    background-color: rgb(255, 255, 255);
    Position:absolute;

}

.header{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 75px;

}

.body{
    top: 110px;
    left: 110px;
    right: 110px;
    height: 150px;

}

.footer{
    Bottom: 5px;
    left: 5px;
    Right: 5px;
    Height:25px;
    color: orchid;

}